/*Обнуление*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*,*::before,*::after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "NerisThin";
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html {
	background-color: #eceef2;

}


.wrapper {
	max-width: 80%;
	margin: 0 auto;
	padding: 0 5%;
	background-color: #fff;
}
.loader{
	max-width: 80%;
	margin: 0 auto;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #fff;
	text-align: center;
	height: 350px;

}

.loader img{
	height: 150px;
	transform: translate(0, 50%);

}


/* header style start*/

.header {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 75px;
	margin-bottom: 20px;
}

.header .wrapper {
	display: flex;
	flex-wrap: wrap;
}
.header__titel {
	font-family: 'Rubik';

	font-size: 30px;
	margin-right: 150px;
	line-height: 38px;
}
.refresh {
	font-family: 'Rubik';

	padding: 10px 35px;
	border-radius: 5px;
	background-color: #eee;
	font-size: 16px;
}

.refresh__mobile{
	display: none;
}
.refresh__mobile:before{

}

/* header style end*/

/* main__city style start*/

.main__city{
}

.main__city .wrapper{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-column-gap: 50px;
	padding-bottom: 40px;
	padding-top: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;


}
.main__city__info {
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);

	position: relative;
	background: linear-gradient(to bottom,#4a72ac,#438dcb);
	background-image: url(../img/day_rare_clouds.jfif);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	border-radius: 30px;
	padding-left: 15px;
	color: white;
}


.info__titel {
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 50px;
	margin-top: 40px;
}
.info__img {
	height: 100px;
	margin-bottom: 40px;
}
.temp {
	font-family: 'Rubik';
	font-size: 70px;
	font-weight: bold;
	right: 15px;
	position: absolute;
}
.time {
	font-family: 'Rubik';
	padding-left: 20px;
	font-size: 36px;
	font-weight: bold;

}
.main__city__desc {
}
.desc__list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
  	height: 250px;
}
.desc__list__item {
	font-family: 'Rubik';
	background: linear-gradient(to left,#003582,#47abff);
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
	padding-right: 10px;
	padding-left: 15px;
	color: white;
	border-radius: 15px;
	font-size: 16px;
}
.list__item__text{
	padding-right: 10px;
}
.wind {}
.cloud {}
.pressure {}
.humidity {}
.coordinates {}

/* main__city style end*/

/* favorites style start*/
.favorites{
	padding-bottom: 20px;
}
.favorites .wrapper{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-bottom: 30px;
	
}
.favorites__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.favorites__header__titel {
	font-family: 'Rubik';

	font-size: 28px;
	line-height: 40px;
	margin-left: 15px;

}
.favorites__form {}
.favorites__form__input {
	font-family: 'Rubik';

	font-size: 18px;
	margin-right: 10px;
	background-color: #eee;
	padding: 10px 40px;
	padding-left: 20px;
}
.add {
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 50%;
	background-color: #eee;
	margin-right: 15px;
	transition: .8s all;
}
.add:hover, .add:focus, .add:active {
    transform: scale(1.1) rotate(0.5turn);
}
.favorites__list{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 30px;
}

.favorites__item{
	display: block;
	margin-top: 10px;
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.favorites__item__header {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 15px;
}
.favorites__item__titel {
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 25px;
	line-height: 50px;
}

.favorites_temp{
	font-family: 'Rubik';
	font-size: 30px;
	font-weight: bold;
	padding-left: 10px;
	line-height: 50px;
}
.close {
	font-family: 'Rubik';
	font-size: 18px;
	padding: 10px 15px;
	border-radius: 50%;
	margin-top: 9px;
	background-color: #eee;
	position: absolute;
	right: 15px;
	transition: .8s all;
	/*transform: rotate(45deg);*/
}
.close:hover, .close:focus, .close:active {
    transform: scale(1.1);
}

.item__img {
	height: 50px;
}

.favorites__item_descr{}


.item__descr__item{
	font-family: 'Rubik';
	background: linear-gradient(to left,#003582,#47abff);
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
	margin-bottom: 15px;
	padding-right: 10px;
	padding-left: 15px;
	color: white;
	border-radius: 15px;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;

}

/* favorites style end*/


/* media style start*/


@media screen and (max-width: 1160px) {
	.temp{
		font-size: 45px;
	}
	.header__titel {
	    font-size: 26px;
	}
	.info__titel {
	    font-size: 22px;
	}
	.favorites__item__titel {
	    font-size: 22px;
	}
	.favorites_temp {
	    font-size: 22px;
	    padding-left: 5px;
	}
	.item__img {
	    margin-left: 0px;
	}
	.close {
	    font-size: 16px;
	    padding: 8px 12px;
	}

}
@media screen and (max-width: 1010px) {
	.favorites__item__titel {
    	font-size: 20px;
	}
	.item__descr__item{
		font-size: 15px;
	}
}
@media screen and (max-width: 975px) {
	.temp{
		font-size: 40px;
	}
	.favorites__item__titel {
    	font-size: 18px;
	}
	.item__descr__item{
		font-size: 14px;
	}
	.close {
	    font-size: 14px;
	    padding: 6px 10px;
	}
	.favorites_temp {
	    font-size: 20px;
	    padding-left: 2px;
	}
	.item__img{
		height: 45px;
	}
}
@media screen and (max-width: 877px) {

	.item__img {
	    margin-left: 20px;
	}
	.main__city .wrapper {
	    grid-column-gap: 20px;
	}
	.desc__list__item {
	    font-size: 14px;
	}
	.info__titel {
	    font-size: 20px;
	}
	.time {
		font-size: 22px;
	}
	.temp {
		padding-top: 30px;
	    font-size: 40px;
	}

	.favorites__list {
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-column-gap: 50px;
	}

	.favorites__header__titel {
	    font-size: 26px;
	}
	.favorites__form__input {
	    padding: 10px 20px;
	    padding-left: 10px;
	}
}
@media screen and (max-width: 767px) {
	.info__titel {
	    font-size: 19px;
	}
	.info__img {
	    height: 90px;
	}
	.temp {
	    font-size: 40px;
	}

}
@media screen and (max-width: 741px) {
	.time {
		padding-left: 10px;
	}
	.header__titel {
	    margin-right: 100px;
	}
}
@media screen and (max-width: 712px) {
	.info__titel {
	    font-size: 18px;
	}
	.time {
	    font-size: 20px;
	}
	.desc__list__item {
	    font-size: 13px;
	}

}
@media screen and (max-width: 692px) {
	.temp{
		font-size: 50px;
	}

	.header__titel {
	    font-size: 20px;
	    margin-right: 30px;
	}
	.refresh {
	    padding: 10px 20px;
	    font-size: 14px;
	}
	.favorites__form__input {
		margin-left: 15px;
		margin-right: 50px;
		font-size: 14px;
	    padding: 5px 0px;
	    padding-left: 10px;
	}
	.main__city__info{
		margin-bottom: 10px;
		padding-top: 10px;
	}
	.main__city .wrapper {
	    grid-template-columns: 1fr;
	    grid-column-gap: 0px;
	}
	.info__titel {
	    font-size: 26px;
	}
	.info__img {
	    height: 80px;
	}
	.temp {
	    padding-top: 20px;
	}
	.time{
		font-size: 28px;
		padding-right: 150px;
	}
	.favorites__header {
		flex-wrap: wrap;

	}
	.favorites__header__titel {
	    font-size: 20px;
	}
	.add {
	    font-size: 16px;
	    padding: 5px 10px;
	    margin-right: 0px;
	}
	.favorites__item__titel {
		font-size: 20px;
	}
	.favorites_temp {
	    font-size: 22px;
	    padding-left: 10px;
	}
	.item__img {
		padding-top: 5px;
		height: 40px;	
	}
	.close {
	    font-size: 16px;
	    padding: 5px 10px;
	}
	.item__descr__item{
		font-size: 14px;
	}
}

@media screen and (max-width: 662px) {
	.time {
	    padding-right: 100px;
	}
}
@media screen and (max-width: 591px) {
	.time {
	    padding-right: 20px;
	}
}
@media screen and (max-width: 557px) {
	.time {
	    padding-right: 0px;
	}
	.favorites__form__input {
	    margin-left: 15px;
	    margin-right: 0px;
	}
}
@media screen and (max-width: 485px) {
	.favorites__form__input {
		font-size: 12px;
	}
}
@media screen and (max-width: 465px) {
	.favorites__header__titel {
	    font-size: 18px;
	}
	.header__titel {
	    font-size: 18px;
	}
}
@media screen and (max-width: 450px) {
	.wrapper{
		max-width: 90%;
		margin: 0 auto;
		padding: 0 5%;
	}
	.time {
	    padding-right: 40px;
	}
	.header__titel {
	    font-size: 18px;
	    margin-right: 50px;
	    line-height: 25px;
	}
	.refresh {
		display: none;
	    padding: 5px 10px;
	    font-size: 15px;
	}
	.refresh__mobile{
		font-style: normal;	
		display: block;
		font-size: 24px;
	}
	.refresh__mobile:before{
		transition: 1s;
		content: "\21BB";
		background-color: #eee;
		padding: 3px 6px;
		border-radius: 5px;
	}
	.info__titel {
	    font-size: 18px;
	}
	.temp {
	    font-size: 30px;
	}
	.info__img {
	    height: 70px;
	}
	.favorites__form__input{
		width: 140px;
		padding-left: 5px;
		margin-right: 10px;
	}
	.favorites__item__titel {
	    font-size: 18px;
	    padding-right: 20px;
	}
	.favorites_temp {
	    font-size: 19px;
	    padding-left: 5px;
	}
	.item__descr__item {
	    font-size: 12px;
	}
}
@media screen and (max-width: 395px) {
	.favorites__header__titel {
	    font-size: 17px;
	}
	.favorites__form__input {
	    font-size: 11px;
	    width: 130px;
	}
}
@media screen and (max-width: 375px) {

	.time {
		font-size: 22px;
	}

	.header__titel {
	    font-size: 16px;
	    margin-right: 50px;
	    line-height: 20px;
	}
	.refresh {
	    padding: 5px 10px;
	    font-size: 12px;
	}
	.info__titel {
	    font-size: 16px;
	}
	.desc__list__item {
	    font-size: 12px;
	}
	.favorites__header__titel {
	    font-size: 14px;
	    line-height: 33px;
	}
	.favorites__form__input {
		margin-left: 5px;
		font-size: 10px;
		width: 120px;
		margin-right: 0px;
	}
	.item__descr__item {
	    font-size: 10px;
	}
	.favorites__item__titel {
	    font-size: 16px;
	    padding-right: 10px;
	}
}
/* media style end*/
